body{
    background-color:#FEFEFE;
}

.form-control{
    background-color:#FEFEFE;
}


#searcher{
    background-color:  #ACBF60;
    border-bottom-style: solid;
}

#na{
    background-color: #FF6037;
    margin: 0%;
}